<label style="color:yellow">@TempData["count"]</label>-<label style="color:blue">@ViewBag.count2</label>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
