@model ProductListViewModel
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}


<table class="table table-responsive">
    <tr>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>Product Stock</td>
    </tr>
    @foreach (var item in Model.Products)
    {
            <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
        </tr>
    }
</table>


