@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Lütfen Giriş Yapın</h2>
					<form asp-controller="Account" asp-action="SendCode" method="post">

						<input type="email" placeholder="Mail Giriniz" name="Email" />
						

						<button type="submit" class="btn btn-default">Send Code</button>
						
					</form>
				</div><!--/login form-->
			</div>
			
			
		</div>
	</div>
</section><!--/form-->
