@model EntityLayer.Entities.User
@{
    
    Layout = null;
}

@if (TempData["message"] != null)
{
	<div class="alert alert-info d-none d-lg-block">@TempData["message"]</div>
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Login | E-Shopper</title>
	<link href="~/eshop/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/eshop/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/eshop/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/eshop/css/price-range.css" rel="stylesheet">
	<link href="~/eshop/css/animate.css" rel="stylesheet">
	<link href="~/eshop/css/main.css" rel="stylesheet">
	<link href="~/eshop/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	

	<section id="form">
		<!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form">
						<!--login form-->
						<h2>Lütfen Giriş Yapın</h2>
						<form asp-controller="Account" asp-action="Login" method="post">
							
							<input type="text" placeholder="Kullanıcı Adı" name="UserName" />
							<input type="password" placeholder="Şifreniz" name="Password" />
							
							<button type="submit" class="btn btn-default">Giriş</button>
							<div class="text-center pb-4">
								<span>Forgot</span>
								<a asp-controller="Account" asp-action="ForgotPassword" >Username/Password</a>


							</div>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form">
						<!--sign up form-->
						<h2>Kayıt olunuz!</h2>
						<form asp-controller="Account" asp-action="Register" method="post">
							<input type="text" placeholder="Adı" name="Name" />
							<input type="text" placeholder="Soyadı" name="SurName" />
							<input type="email" placeholder="Email Adres" name="Email" />
							<input type="text" placeholder="Kullanıcı Adı" name="UserName" />
							<input type="password" placeholder="Şifre" name="Password" />
							<input type="password" placeholder="Şifre Tekrar" name="RePassword" />
							<button type="submit" class="btn btn-default">Kayıt Ol</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->


	



	<script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
