@model ProductListViewModel
@{
    Layout = null;}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-carousel" data-slide-to="1"></li>
                    <li data-target="#slider-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    @{
                         string value = "item active";
                    }
                    @foreach (var item in Model.Products)
                    {                       
                        
                            <div class="@value">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>@item.Name</h2>
                                    <p>@item.Description </p>
                                    <button type="button" class="btn btn-default get">Get it now..</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/eshop/images/home/8.jpg" class="girl img-responsive" alt="" />
                                   
                                </div>
                        </div>

                        value = "item";//döngünün ilk adımı class=item active olacak.                      
                       
                    }
                      
                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>